html, body, div, span, applet,
object, iframe, h5, h6,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav,
output, ruby, section, summary,
time, mark, audio, video, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section {
  display: block;
}

ol,
ul {
  list-style: none;
}

div:focus {
  outline: none;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

textarea, select, input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  padding: 10px 15px;
  margin-bottom: 12px;
}

input, textarea {
  box-shadow: none !important;
  border-radius: 0;
}

input:focus, textarea:focus, select:focus, option:focus {
  outline: none;
}

body {
  overflow-x: hidden !important;
  direction: rtl;
  width: 100%;
  font-family: "ManchetteFine-Regular";
  background-color: #2A2A2E;
}

.no-scroll {
  overflow: hidden;
}

body.hide_scroll {
  overflow-y: hidden !important;
}

h2 {
  font-size: 2rem;
  color: #fff;
}

p {
  font-size: 1rem;
  color: #fff;
}

.main-btn {
  background-color: #313136;
  border-radius: 32px;
  color: #fff !important;
  padding: 0.3rem 1rem;
}

.header-container {
  background-color: #313136;
}
.header-container .logo {
  width: 85px;
}
.header-container .social-media-icons {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header-container .social-media-icons img {
  width: 30px;
  height: 30px;
}
.header-container .social-media-icons .single-social-icon .active {
  display: none;
}
.header-container .social-media-icons .single-social-icon .stroke {
  display: block;
}
.header-container .social-media-icons .single-social-icon:hover .active {
  display: block;
}
.header-container .social-media-icons .single-social-icon:hover .stroke {
  display: none;
}
.header-container .tag-list li a {
  width: 200px;
  color: #fff;
  border-radius: 10px;
  background-color: #2A2A2E;
  display: block;
  text-align: center;
  margin: 0 0.3rem;
  font-size: 1.4rem;
  font-family: "ManchetteFine-Regular";
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}
.header-container .tag-list li a:hover {
  border-color: #B6E60D;
}
.header-container .hamburger {
  padding: 0px !important;
  position: relative;
  display: block !important;
  margin-right: auto !important;
  opacity: 1 !important;
  background-color: transparent;
  border: none;
  margin-top: 1rem;
}
.header-container .hamburger--collapse {
  display: block;
}
.header-container .hamburger_menu_icon {
  position: relative;
  width: 40px;
  z-index: 15;
}
.header-container .hamburger_menu_icon .line {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 6px !important;
  position: relative;
  transform-origin: center;
  transition: cubic-bezier(0.32, 0.17, 0, 1) 0.5s;
  border-radius: 20px;
}
.header-container .hamburger_menu_icon .line:first-child {
  width: 80%;
}
.header-container .hamburger_menu_icon .line:last-child {
  width: 40%;
}
.header-container .menu_mobile_nav.active .hamburger_menu_icon .line:first-child {
  transform: rotate(45deg) translate(5.5px, 5.5px);
  background-color: #fff;
  height: 4px;
  width: 100%;
}
.header-container .menu_mobile_nav.active .hamburger_menu_icon .middle_line {
  transform: translateX(-1000%);
  background-color: #fff;
  height: 4px;
  width: 100%;
}
.header-container .menu_mobile_nav.active .hamburger_menu_icon .line:last-child {
  transform: rotate(-45deg) translate(8.5px, -7.5px);
  background-color: #fff;
  height: 4px;
  width: 100%;
}

.homepage .single-article {
  border-radius: 15px;
}
.homepage .bg-color-green {
  background-color: #1A876B;
}
.homepage .bg-color-green p {
  font-family: "ManchetteFine-Regular";
  color: #fff;
  font-size: 1rem;
  text-align: right;
}