@media screen and (max-width: 991px) {
  .homepage .bg-color-green .main-img {
    border-radius: 15px;
  }
}
@media (max-width: 600px) {
  footer .footer-tags li a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1390px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1360px;
  }
}