@media (max-width: 1540px) {
  .menu_on_mobile {
    width: 30%;
    height: 70dvh;
  }
  .menu_on_mobile .menu_on_mobile_wrapper {
    width: 30%;
    height: 70dvh;
  }
}
@media screen and (max-width: 991px) {
  .menu_on_mobile {
    width: 100%;
    height: 100dvh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .menu_on_mobile .menu_on_mobile_wrapper {
    width: 100%;
    height: 100dvh;
  }
  .homepage .bg-color-green .main-img {
    border-radius: 15px;
  }
  .border-right-white {
    border-right: none;
  }
  .custom-padding {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  .single-product-page p {
    font-size: 1rem;
  }
  .single-product-page .lower-part a {
    font-size: 0.9rem;
  }
  .single-product-page .lower-part p {
    font-size: 0.9rem;
  }
  footer .footer-tags li a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1390px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1360px;
  }
}