@import 'variables';
@charset "utf-8";

// resettting classes
html, body, div, span, applet,
object, iframe,   h5, h6,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav,
output, ruby, section, summary,
time, mark, audio, video,h1,h2,h3,p
										{ margin: 0;
										  padding: 0;
										  border: 0;
										  vertical-align: baseline;
										}
article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section                      { display: block }
ol,
ul                                      { list-style: none }
// End of reset classes

// defaults
div:focus 								{ outline: none;}
a,a:visited 							{ color: inherit;text-decoration: none;}
a:hover, a:focus 						{ text-decoration: none; color: inherit;}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip:padding-box;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-appearance:none;
	border:none;
	text-align: left;
	font-size:1em;
	vertical-align: middle;
	padding: 10px 15px;
	margin-bottom: 12px;
}
input, textarea {
	box-shadow: none !important;
	border-radius: 0;

}
input:focus, textarea:focus, select:focus, option:focus {
	outline: none;
}

body{
	overflow-x: hidden !important;
	direction: rtl;
	width: 100%;
	font-family: $regular;
	background-color: $main_color;
}
.no-scroll{
	overflow: hidden;
}
body.hide_scroll{
	overflow-y: hidden !important;
}
h2{
	font-size: 2rem;
	color: #fff;
	font-family: $regular;
	text-align: right;
}
p{
	font-size: 1rem;
	color: #fff;
}
.main-btn{
	background-color: $sec_color;
	border-radius: 32px;
	color: #fff !important;
	padding: .3rem 1rem;
}
//header class
.header-container{
	background-color: $sec_color;
	.logo{
		width: 85px;
	}
	.tag-list{
		li a{
			width: 200px;
			color: #fff;
			border-radius: 10px;
			background-color: #2A2A2E;
			display: block;
			text-align: center;
			margin: 0 .3rem;
			font-size: 1.4rem;
			font-family: $regular;
			border: 1px solid transparent;
			transition: border-color .3s ease;
		}
		li:first-child a:hover{
			border-color: $third_color;
		}
		li:nth-child(1) a:hover{
			border-color: #fff;
		}
		li:nth-child(2) a:hover{
			border-color: #6b2222;
		}
		li:nth-child(3) a:hover{
			border-color: #232e91;
		}
		li:nth-child(4) a:hover{
			border-color: #3cbb16;
		}
		li:nth-child(5) a:hover{
			border-color: #a00540;
		}
	}
	.hamburger{
		padding: 0px!important;
		position: relative;
		display: block !important;
		margin-right: auto !important;
		opacity: 1 !important;
		background-color: transparent;
		border: none;
		margin-top: 1rem;
	}
	.hamburger--collapse{
		display: block;
	}
	.hamburger_menu_icon{
		position: relative;
		width: 40px;
		z-index: 15;
		.line{
			display: block;
			height: 4px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 6px !important;
			position: relative;
			transform-origin: center;
			transition: cubic-bezier(0.32, 0.17, 0, 1) .5s;
			border-radius: 20px;
		}
		.line:first-child{
			width: 80%;
		}
		.line:last-child{
			width: 40%;
		}

	}
	.menu_mobile_nav.active{
		.hamburger_menu_icon{
			.line:first-child{
				transform: rotate(45deg) translate(5.5px, 5.5px);
				background-color: #fff;
				height: 4px;
				width: 100%;
			}
			.middle_line{
				transform: translateX(-1000%);
				background-color: #fff;
				height: 4px;
				width: 100%;
			}
			.line:last-child{
				transform: rotate(-45deg) translate(8.5px, -7.5px);
				background-color: #fff;
				height: 4px;
				width: 100%;
			}
		}
	}
}
.social-media-icons{
	display: flex;
	justify-content: start;
	align-items: center;
	img{
		width: 30px;
		height: 30px;
	}
	.single-social-icon{
		.active{
			display: none;
		}
		.stroke{
			display: block;
		}
	}
	.single-social-icon:hover{
		.active{
			display: block;
		}
		.stroke{
			display: none;
		}
	}
}
//homepage
.homepage{
	.single-article{
		border-radius: 15px;
	}
	.bg-color-green{
		background-color: #1A876B;
		border-radius: 15px;
		.main-img{
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
		}
		p{
			font-family: $regular;
			color: #fff;
			font-size: 1.3rem;
			text-align: right;
			margin-bottom: 1.5rem;
		}
		.lower-part{
			a{
				font-family: $regular;
				font-size: 1rem;
				margin-left: 10px;
				color: #fff;
				text-align: right;
			}
			p{
				font-family: $regular;
				font-size: 1rem;
				color: #fff;
				margin-bottom: 0;
			}
			.heart, .heart-filled{
				width: 15px;
				margin-right: 5px;
				cursor: pointer;
			}
		}
	}
	.responsive-short {
		position: relative;
		padding-bottom: 177.77%; /* 9:16 ratio (shorts) */
		height: 0;
		overflow: hidden;
		width: 100%;
		border-radius: 15px;
	}

	.responsive-short iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 15px;
	}
	.latestNewsSwiper {
		position: relative;
	  }

	.latestNewsSwiper::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100px; /* adjust width as needed */
		height: 100%;
		background: linear-gradient(to right, rgba(0, 0, 0, 2), transparent);
		z-index: 10;
		pointer-events: none;
	}
	.swiper-button-prev-latest-article{
		color: #fff !important;
	}
	.swiper-button-prev-latest-article::after{
		font-size: 30px !important;
	}
	.most-read-articles{
		background-color: $third_color;
		padding: .7rem;
		border-radius: 15px;
		display: block;
		height: 100%;
		h2{
			font-size: 3.5rem;
			color: #000;
			text-align: center;
		}
		ul{
			list-style: none;
			counter-reset: item;
			li{
				padding-bottom: 1rem;
				border-bottom: 1px solid #5D0DE6;
				position: relative;
				padding: 1rem 0rem 1rem 1rem;
				margin-right: 3rem;
				width: fit-content;
				margin: auto;
				h3{
					color: #000;
					font-size: 2.5rem;
					text-align: right;
				}
				.author{
					font-size: .9rem;
					color: #000;
					display: flex;
					justify-content: start;
					align-items: center;
					.date{
						margin-right: 10px;
					}
				}
			}
			li::before {
				content: counter(item);
				counter-increment: item;
				position: absolute;
				right: -2.5rem;
				top: 50%;
				transform: translateY(-50%);
				background-color: #5D0DE6;
				color: white;
				font-weight: bold;
				font-size: 1rem;
				width: 2rem;
				height: 2rem;
				line-height: 2.3;
				text-align: center;
				border-radius: 50%;
			}
			li:last-child{
				border: none !important;
			}
		}
	}
	.subscribe{
		border-radius: 15px;
		background-color: #FF6F00;
		display: block;
		padding: .7rem;
		form{
			justify-content: center;
			display: flex;
			align-items: center;
		}
		h4{
			color: #fff;
			font-size: 1.5rem;
		}
		input{
			background-color: #fff;
			border-radius: 10px;
			padding: .35rem .6rem;
			color: #000;
			font-size: 1rem;
			margin-left: 7px;
			text-align: right;
			margin-bottom: 0;
			width: 100%;
		}
		button{
			background-color: #000;
			color: #fff;
			font-size: 1rem;
			border-radius: 10px;
			padding: .35rem 1.5rem;
			border: none;
			outline: none;
		}
	}
}
// footer
footer{
	.footer-tags{
		display: flex;
		justify-content: start;
		align-items: center;
		flex-wrap: wrap;
		li{
			padding: 0 10px;
			border-left: 1px solid #fff;
			flex: 0 1 auto;
			a{
				font-family: $regular;
				color: #fff;
				font-size: 1.2rem;
				text-align: right;
			}
		}
		li:last-child{
			border-left: none;
		}
	}
	.button-green{
		border-radius: 15px;
		background-color: #B6E60D;
		color: $sec_color;
		font-family: $regular;
		padding: 0rem 1rem;
		font-size: 1.4rem;
		border:none;
		outline: none;
		margin-right: 10px;
	}
	p{
		font-family: $regular;
		color: #fff;
		font-size: 1.4rem;
		text-align: right;
	}
	.border-green{
		width: 100%;
		border: 7px solid #B6E60D;
	}
}
//single-post
.single-product-page{
	.main-img{
		border-radius: 15px;
	}
	.author-section{
		img{
			border-radius: 100%;
			width: 60px;
		}
		a{
			color: $third_color;
		}
	}
	.social-main{
		position: sticky;
		top: 5%;
		width: fit-content;
	}
	.social-media-icons{
		display: block;
		width: fit-content;
	}
	p{
		font-family: $regular;
		font-size: 1rem;
		color: #fff;
		margin-bottom: 15px;
	}
	.lower-part{
		a{
			font-family: $regular;
			font-size: 1rem;
			margin-left: 10px;
			color: #fff;
			text-align: right;
		}
		p{
			font-family: $regular;
			font-size: 1rem;
			color: #fff;
			margin-bottom: 0;
		}
		.heart, .heart-filled{
			width: 15px;
			margin-right: 5px;
			cursor: pointer;
		}
	}
}