@import 'variables';
@charset "utf-8";

@media (max-width: 1540px){
	.header-container{
		.menu_on_mobile{
			width: 30%;
			height: 70dvh;
		}
		.menu_on_mobile{
			.menu_on_mobile_wrapper{
				width: 30%;
				height: 70dvh;
			}
		}
	}
}

@media (max-width: 1367px){
	.header-container{
		.menu_on_mobile{
			width: 32%;
		}
	}
}

@media (max-width: 1199px){
	.header-container{
		.menu_on_mobile{
			width: 34%;
		}
	}
}

@media screen and (max-width: 991px) {
	.header-container{
		.menu_on_mobile{
			width: 100%;
			height: 100dvh;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.menu_on_mobile{
			.menu_on_mobile_wrapper{
				width: 100%;
				height: 100dvh;
				.menu_on_mobile_inner_wrapper ul {
					padding: 0 10px;
				}
			}
		}
		.menu_mobile_nav.active{
			.hamburger_menu_icon{
				.middle_line{
					transform: translateX(2000%);
					background-color: #fff;
					height: 4px;
					width: 100%;
				}
			}
		}
	}
	.homepage{
		.bg-color-green{
			.main-img{
				border-radius: 15px;
			}
		}
	}
	.border-right-white{
		border-right: none;
	}
	.custom-padding{
		padding-left: 0;
	}
}

@media (max-width: 600px){
	.homepage{
		.most-read-articles{
			h2{
				font-size: 2.5rem;
			}
			ul{
				li{
					h3{
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	.single-product-page{
		p{
			font-size: 1rem;
		}
		.lower-part{
			a{
				font-size: .9rem;
			}
			p{
				font-size: .9rem;
			}
		}
	}
	footer{
		.footer-tags{
			li{
				a{
					font-size: .9rem;
				}
			}
		}
	}
}

@media (max-width: 470px){
}

@media (max-width: 400px){
}

@media (max-width: 440px){
}

@media (max-width: 350px){
}

@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}