@import 'variables';
@charset "utf-8";

@media (max-width: 1540px){

}

@media (max-width: 1367px){

}

@media (max-width: 1199px){

}

@media screen and (max-width: 991px) {
	.homepage{
		.bg-color-green{
			.main-img{
				border-radius: 15px;
			}
		}
	}
}

@media (max-width: 600px){
	.single-product-page{
		p{
			font-size: 1rem;
		}
		.lower-part{
			a{
				font-size: .9rem;
			}
			p{
				font-size: .9rem;
			}
		}
	}
	footer{
		.footer-tags{
			li{
				a{
					font-size: .9rem;
				}
			}
		}
	}
}

@media (max-width: 470px){
}

@media (max-width: 400px){
}

@media (max-width: 440px){
}

@media (max-width: 350px){
}

@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}